@model Prac.Models.Alumnos

@{
    ViewData["Title"] = "Detalle del Alumno";
}

<div class="text-center">
    <h1>Detalles del Alumno</h1>
    <p><strong>Nombre:</strong> @Model.nombre</p>
    <p><strong>Apellido:</strong> @Model.apellido</p>
    <p><strong>Curso:</strong> @Model.curso</p>
        <p><strong>Edad:</strong> @Model.edad</p>
            <p><strong>Legajo</strong> @Model.legajo</p>
</div>

<a class="btn btn-info" href='@Url.Action("Index", "Home")'>Volver a la lista de alumnos</a>
